<ion-view>
  <ion-nav-title>Home</ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider bar bar-assertive">
        IONGIT
      </div>
      <div class="item item-text-wrap">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis culpa, dolor eius et explicabo iste
        laboriosam odio provident quae, quo reiciendis veniam voluptas? Aliquam eos et illum odio vel.
      </div>
    </div>
    <div class="row row-center">
      <div class="col">
        <button class="button button-positive"
                ng-click="githubAuth()">
          <i class="ion-social-github"></i> LogIn with Github
        </button>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider bar bar-assertive">
        response
      </div>
      <div class="item item-text-wrap">
      </div>
    </div>
    {{oauthResponse}}
  </ion-content>
</ion-view>
