<ion-content>
  <div class="card">
    <div class="item item-divider bar bar-assertive">
      IONGIT
    </div>
    <div class="item item-text-wrap">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis culpa, dolor eius et explicabo iste
      laboriosam odio provident quae, quo reiciendis veniam voluptas? Aliquam eos et illum odio vel.
    </div>
    <button ng-click="githubAuth()">LogIn with Github</button>
  </div>
  <div class="card">
    <div class="item item-divider bar bar-assertive">
      response
    </div>
    <div class="item item-text-wrap">
      {{oauthResponse}}
    </div>
  </div>
</ion-content>

